.SearchSec {
  padding: 80px 0;
  .content {
    .search {
      h1 {
        font-family: "Montrezat";
        font-size: 30px;
        font-weight: 1000;
        letter-spacing: 2px;
        margin: 10px 0;
      }
    }
  }
}
