@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  color-scheme: dark;
}

body {
  background: linear-gradient(
    180deg,
    rgba(4, 21, 45, 0),
    rgb(4, 21, 45) 79.17%
  );
}

a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
}
body {
  font-family: "Inter", system-ui;
}
