.Header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(9, 26, 42, 0.716);
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      .logo {
        a {
          h1 {
            background: linear-gradient(
              -30.65deg,
              rgb(182, 24, 186),
              rgb(215, 43, 110)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // font-family: Permanent Marker;
            font-size: 25.9px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }
    }
    .search {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: flex-end; /* Чтобы поиск был справа */
      position: relative;

      .searchBox {
        width: 80%;
        border-radius: 15px;
        max-height: 0; /* Изначально скрыт */
        opacity: 0;
        overflow: hidden; /* Чтобы скрывать содержимое при закрытии */
        transition: max-height 0.5s ease, opacity 0.5s ease;
        background-color: #fff; /* Белый фон для поля поиска */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
        input {
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          border-radius: 10px;
          font-size: 16px;
          background-color: #f0f0f0; /* Светлый фон для поля ввода */
        }
      }

      button {
        padding: 10px;
        border-radius: 50%;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: #6a0dad; /* Цвет кнопки */
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          background-color: #8a2be2; /* Более светлый цвет при наведении */
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Усиленная тень */
        }

        svg {
          font-size: 20px; /* Размер иконки поиска */
        }
      }

      .magicSearch {
        color: black;
        max-height: 100px; /* Высота, на которую блок раскрывается */
        opacity: 1; /* Появляется */
        transition: max-height 0.5s ease, opacity 0.5s ease;
      }
    }

    .right {
      position: relative;
      display: flex;
      align-items: center;
      gap: 25px;
      .nav {
        ul {
          display: flex;
          align-items: center;
          gap: 25px;
          li {
            list-style: none;
            .link {
              color: rgb(255, 255, 255);
              font-size: 16px;
              font-weight: 500;
              line-height: 16px;
              letter-spacing: 0%;
              transition: 0.2s;
            }
            .active {
              color: rgb(102, 23, 181);
            }
          }
        }
      }
      button {
        cursor: pointer;
        padding: 5px 15px;
        border-radius: 10px;
        background: transparent;
        border: 1px solid rebeccapurple;
        &:hover {
          background: rebeccapurple;
          color: white;
          box-shadow: 0px 0px 12px 0px rebeccapurple;
          -webkit-box-shadow: 0px 0px 12px 0px rebeccapurple;
          -moz-box-shadow: 0px 0px 12px 0px rebeccapurple;
        }
      }
      .auth {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          width: 50px;
          height: auto;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 920px) {
  .Header {
    .content {
      .search {
        width: 250px;

        .magicSearch {
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .Header {
    .content {
      .left {
        .logo {
          a {
            h1 {
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
      }
      .search {
        width: 300px;

        .searchBox {
          input {
            padding: 5px;
          }
        }

        button {
          padding: 5px;
          svg {
            font-size: 15px; /* Размер иконки поиска */
          }
        }
      }

      .right {
        display: flex;
        gap: 10px;
        .nav {
          ul {
            display: flex;
            align-items: center;
            gap: 10px;
            li {
              list-style: none;
              .link {
                font-size: 14px;
              }
            }
          }
        }
        button {
          cursor: pointer;
          padding: 2px 10px;
        }
        .auth {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            width: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .Header {
    .content {
      .search {
        width: 200px;
      }
    }
  }
}

@media (max-width: 450px) {
  .Header {
    .content {
      .search {
        width: 150px;
      }
    }
  }
}
