.blocks {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .block {
    position: relative;
    .ganre {
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1;
    }
    .box {
      position: relative;
      width: 200px;
      cursor: pointer;
      border-radius: 10px;
      padding: 2px 2px 5px 2px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 5px;
      .circleRai {
        width: 50px;
        bottom: 50px;
        right: 0;
        position: absolute;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      h3 {
        margin-top: 20px;

        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        font-family: "Oswald", sans-serif;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 3px;
        text-shadow: 0px 0px 25px rgba(235, 235, 243, 0.966);
      }
    }
  }
}
.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .block {
    position: relative;
    .ganre {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
    }
    .box {
      position: relative;
      width: 200px;
      cursor: pointer;
      border-radius: 10px;
      padding: 2px 2px 5px 2px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 5px;
      .circleRai {
        width: 50px;
        bottom: 50px;
        right: 0;
        position: absolute;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
      h3 {
        margin-top: 20px;

        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        font-family: "Oswald", sans-serif;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 3px;
        text-shadow: 0px 0px 25px rgba(235, 235, 243, 0.966);
      }
    }
  }
}

@media (max-width: 550px) {
  .blocks {
    .block {
      .box {
        width: 150px;
        .circleRai {
          width: 30px;
          bottom: 50px;
        }
        img {
        }
        h3 {
        }
        p {
          font-size: 10px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .list {
    .block {
      .box {
        width: 150px;
        .circleRai {
          width: 30px;
          bottom: 50px;
        }
        img {
        }
        h3 {
        }
        p {
          font-size: 10px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
